name: CI
on:
  workflow_dispatch:
  schedule:
    - cron: 20 4 * * 6

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run get_latest_rootfs.sh 
        id: sh
        run: |
          sudo chmod +x get_latest_rootfs.sh
          bash get_latest_rootfs.sh 4 2
          echo -e "- Version: $CLEAR_LINUX_VERSION\n- [Clear Linux Release](https://cdn.download.clearlinux.org/releases/$CLEAR_LINUX_VERSION/)\n- [Release Notes](https://cdn.download.clearlinux.org/releases/$CLEAR_LINUX_VERSION/clear/RELEASENOTES)" > release_body.txt
          echo "clear_linux_version=$CLEAR_LINUX_VERSION" >> $GITHUB_OUTPUT
        shell: bash

      - name: Upload tarball as GitHub artifact
        uses: actions/upload-artifact@v3
        with:
          name: clear_linux_rootfs.tar.xz
          path: clear_linux_rootfs.tar.xz
          if-no-files-found: error

      - name: Create release draft with tarball artifact
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ steps.sh.outputs.clear_linux_version }}
          tag_name: ${{ steps.sh.outputs.clear_linux_version }}
          body_path: release_body.txt
          files: clear_linux_rootfs.tar.xz
          draft: true
